#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "Your Project Configuration"

config SRCARCH
	string
	option env="SRCARCH"

source "defconfig/Kconfig"
